{% extends 'layout.html' %} 
{% load static %}
{% block title %}
Project Contributors
{% endblock title %}
{% block content %}
<div class="container">
  <h1><u>Projects Contributors:</u></h1>
  <div class="row">
    <div class="card m-3" style="width: 18rem">
      <center>
        <img
          src="{% static "images/antar.png" %}"
          class="img-thumbnail"
          alt="..."
          style="border-radius: 50%; height: 200px; width: 200px"
        />
      </center>

      <div class="card-body">
        <center>
          <h5>Antar Mukhopadhyaya</h5>
          <small class="text-muted">2nd Year CSE(DS)</small>
        
        </center>
        <center>
          <small>Role: Model Training and Backend </small>
        </center>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <center>
        <img
          src="{% static "images/indrajit.png" %}"
          class="img-thumbnail"
          alt="..."
          style="border-radius: 50%; height: 200px; width: 200px"
        />
      </center>

      <div class="card-body">
        <center>
          <h5>Indrajit Ari</h5>
          <small class="text-muted">2nd Year CSE(DS)</small>
          
      
        </center>
        <center>
          <small>Role: API Designing and Deploying</small>
        </center>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <center>
        <img
          src="{% static "images/debjit.jpg" %}"
          class="img-thumbnail"
          alt="..."
          style="border-radius: 50%; height: 200px; width: 200px"
        />
      </center>

      <div class="card-body">
        <center>
          <h5>Debjit Ganguly</h5>
          <small class="text-muted">2nd Year CSE(DS)</small>
      
        </center>
        <center>
          
          
        </center>
        <center>
          <small>Role: Frontend and UI</small>
        </center>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <center>
        <img
          src="{% static "images/arijit-koley.png" %}"
          class="img-thumbnail"
          alt="..."
          style="border-radius: 50%; height: 200px; width: 200px"
        />
      </center>

      <div class="card-body ">
        <center>
          <h5>Arijit Koley</h5>
          <small class="text-muted">2nd Year CSE(DS)</small>
          
        </center>
        <center>
          <small> Role: Frontend and UI</small>
        </center>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <center>
        <img
          src="{% static "images/arijit-kumar-paul.jpg" %}"
          class="img-thumbnail"
          alt="..."
          style="border-radius: 50%; height: 200px; width: 200px"
        />
      </center>

      <div class="card-body ">
        <center>
          <h5>Arijit Kumar Paul</h5>
          <small class="text-muted">2nd Year CSE(DS)</small>
         
        </center>
        <center>
          <small>Role: Database and Backend </small>
        </center>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <center>
        <img
          src="https://source.unsplash.com/random/160x160"
          class="img-thumbnail"
          alt="..."
          style="border-radius: 50%; height: 200px; width: 200px"
        />
      </center>

      <div class="card-body ">
        <center>
          <h5>No Name</h5>
          <small class="text-muted">2nd Year CSE(DS)</small>
          
        </center>
        <center>
          <small>Role: Project deployment and Miscellaneous </small>
        </center>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
